.about-us-container {
    padding: 40px;
    text-align: center;
    background-color: #f9f6f2;
}

.about-us-container h2 {
    color: #c27f54;
    font-size: 2rem;
}

.about-us-container h3 {
    color: #c27f54;
    font-size: 2rem;
}

.about-us-container li {
    color: black;
    font-size: 2rem;
}

.about-us-container p {
    font-size: 1.2rem;
    color: #333;
    max-width: 800px;
    margin: auto;
}

.about-us-container ul {
    list-style-type: none;
    padding: 0;
}

.about-us-container li {
    font-size: 1.1rem;
    margin: 10px 0;
}
