.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #C27F54;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-right: 10px; /* Move buttons to the left */
}

.google-login-btn {
  margin-right: 10px;
}

.signup-link {
  color: #fff; /* Change text color to white */
}

.signup-link a {
  color: #000;
  background-color: #fff;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  margin-right: 20px;
}

.signup-link a:hover {
  border-color: #d79168;
}